/* About page */

.about-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .image-section {
    // display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 30%;
    z-index: 5;
    margin-right: 15rem;
    margin-bottom: 10rem;

    img {
      margin-bottom: 2rem;
      margin-right: 0.5rem;
    }
  }

  .text-zone {
    z-index: 20;
    position: relative;
    // left: 10rem;
    width: 60%;
    vertical-align: middle;
    height: auto;
    margin-bottom: 10rem;
    margin-right: 5rem;
    // max-height: 90%;
    // transform: translateY(-50%);

    .paragraphs {
      height: auto;

      &::before {
        animation: bounceInDown 1.5s;
        animation-fill-mode: forwards;
        content: "<p>";
        font-family: "La Belle Aurore";
        color: #bed754;
        font-size: 1.8rem;
        position: absolute;
        margin-top: -2rem;
        left: -4%;
        opacity: 0.6;
        // line-height: .1rem;
      }

      &::after {
        animation: bounceInUp 1.5s;
        animation-fill-mode: forwards;
        content: "</p>";
        font-family: "La Belle Aurore";
        color: #bed754;
        font-size: 18px;
        position: absolute;
        // margin-top: 3.1rem;
        // margin-left: 2rem;
        // line-height: 8rem;
        margin-top: -0.5rem;
        left: -4%;
        // animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
    }

    h1 {
      color: #bed754;
      font-size: 5.5rem;
      font-family: "Coolverica";
      font-weight: 400;
      // margin-top: 10%;
      position: relative;
      margin-bottom: 5rem;
      left: 1rem;
      line-height: 5rem;

      &::before {
        animation: bounceInDown 1.5s;
        animation-fill-mode: forwards;
        content: "<h1>";
        font-family: "La Belle Aurore";
        color: #bed754;
        font-size: 18px;
        position: absolute;
        margin-top: -3.2rem;
        left: -6%;
        opacity: 0.6;
        // line-height: .1rem;
      }

      &::after {
        animation: bounceInUp 1.5s;
        animation-fill-mode: forwards;
        content: "</h1>";
        font-family: "La Belle Aurore";
        color: #bed754;
        font-size: 18px;
        position: absolute;
        // margin-top: 3.1rem;
        // margin-left: 2rem;
        // line-height: 8rem;
        margin-top: 4.5rem;
        left: -6%;
        // animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
    }

    p {
      // font-size: 1.7rem;
      color: #cecece;
      font-family: "Coolvetica", "sans-serif";
      margin: 1rem;
      min-width: -webkit-fill-available;
      min-width: fit-content;
      opacity: 0;
      // animation: jackInTheBox 1.2s;
      // animation-fill-mode: forwards;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 1.4s;
      }
      &:nth-of-type(5) {
        animation-delay: 1.5s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: #d4d4d4;
    }
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about-page {
    flex-direction: column;
  }
}
